.detailsContainer{
    /* height: auto; */
    width: 60%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: top;
    /* background-image: linear-gradient(#14181d, rgba(255,0,0,0), #14181d); */
    /* background-size: cover; */
    /* box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;  */
    background-image: 
        linear-gradient(
            90deg
            ,#14181d 0,rgba(20,24,29,.98556487) 32.97%,rgba(20,24,29,.9451312) 34.07833333%,rgba(20,24,29,.88300656) 35.29666667%,rgba(20,24,29,.80349854) 36.60166667%,rgba(20,24,29,.71091472) 37.96666667%,rgba(20,24,29,.60956268) 39.365%,rgba(20,24,29,.50375) 40.77166667%,rgba(20,24,29,.39778426) 42.16%,rgba(20,24,29,.29597303) 43.505%,rgba(20,24,29,.20262391) 44.78%,rgba(20,24,29,.12204446) 45.95833333%,rgba(20,24,29,.05854227) 47.01666667%,rgba(20,24,29,.01642493) 47.92833333%,rgba(20,24,29,0) 48.66666667%,rgba(20,24,29,0) 51.33333333%,rgba(20,24,29,.01642493) 52.07166667%,rgba(20,24,29,.05854227) 52.98333333%,rgba(20,24,29,.12204446) 54.04166667%,rgba(20,24,29,.20262391) 55.22%,rgba(20,24,29,.29597303) 56.495%,rgba(20,24,29,.39778426) 57.84%,rgba(20,24,29,.50375) 59.22833333%,rgba(20,24,29,.60956268) 60.635%,rgba(20,24,29,.71091472) 62.03333333%,rgba(20,24,29,.80349854) 63.39833333%,rgba(20,24,29,.88300656) 64.70333333%,rgba(20,24,29,.9451312) 65.92166667%,rgba(20,24,29,.98556487) 67.03%,#14181d),
        linear-gradient(
            0deg
            ,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.98556487) 23.63703704%,rgba(20,24,29,.9451312) 26.1%,rgba(20,24,29,.88300656) 28.80740741%,rgba(20,24,29,.80349854) 31.70740741%,rgba(20,24,29,.71091472) 34.74074074%,rgba(20,24,29,.60956268) 37.84814815%,rgba(20,24,29,.50375) 40.97407407%,rgba(20,24,29,.39778426) 44.05925926%,rgba(20,24,29,.29597303) 47.04814815%,rgba(20,24,29,.20262391) 49.88148148%,rgba(20,24,29,.12204446) 52.5%,rgba(20,24,29,.05854227) 54.85185185%,rgba(20,24,29,.01642493) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
    }

.background{
    overflow:hidden; 
    width: 60%;
    position:fixed;
    z-index: -1;
}
.background img{
    /* background-size: cover; */
    background-repeat:no-repeat; 
    background-position: center;   
    width: 100%;
    box-shadow: 0 0 8px 8px #14181d inset;
}

.poster{
   width: 250px;
   height: auto;
}

.subgenreButton{
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;    
}
.tagButton{
    font-size: 80%;
    display:inline-block;
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    
}
.tagButton:hover {
    color: #b90e0a;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.subgenreButton:hover {
    color: #b90e0a;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.voteContainer {
    /* position: relative; */
    /* display:inline-block; */
    /* vertical-align:middle; */
    /* max-width: 100px; */
    padding: 20px;
    /* -ms-flex-align: center; */
    /* align-items:unset; */
    /* display: -ms-flexbox; */
    /* display: flex; */
    fill: inherit;
    /* -ms-flex-direction: column; */
    flex-direction: column;
}

.upvote{
    z-index: 2; 
}

.downvote{
    z-index: 2;
}

.upvoteCount{
    float: left;
     display: inline;
     width: 5%;
}