@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #f8f8f8;
  margin: 0px;
  background-color: #14181d;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #100c08;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #b90e0a;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #b90e0a;
  color: #b90e0a;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #b90e0a;
  background-color: #efefef;
  border-radius: 3px;
  color: #b90e0a;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  color: #14181d;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}



/* blood filling button css */
/* Main Button styles*/
.bloodbtn {
  /* hue rotate changes the color fo the image. at 0 deg the image is blue, at 125 it is red */
  filter: hue-rotate(140deg);
  display: inline-block;
  padding: 20px 50px;
  margin: 50px 10px;
  overflow: hidden;
  
  color: #FFF;
  font-weight: 100;
  font-size: 1em;
  text-decoration: none;
  
  border: 4px solid #FFF;
  background-color: rgba(0,0,0,.34);
  
  /*Sets the background image to be 'below' the button*/
  /*Background images are set using the classes below*/
  background-position: 0 -50%;
  background-repeat: repeat-x;
  border-radius: 100px;
  
  /* -webkit-box-shadow: inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75); */
  
  transition: background-position .75s ease;

  cursor: pointer;
}

/* Style to slow the effect speed */
.slow {
  transition: background-position 3s ease;
}

/* Style for when you want the button on a dark background*/
.bloodbtn-invert {
  border: solid 2px #000;
  color: #000;
  background-color: rgba(150,150,150,.25);
  
  /* -webkit-box-shadow: inset 4px 4px 0px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    inset 4px 4px 0px 0px rgba(50, 50, 50, 0.35);
  box-shadow:         inset 4px 4px 0px 0px rgba(50, 50, 50, 0.35); */
}

/* Style for when the user hovers the button */
.bloodbtn:hover {
  background-position: 100% 50%;
}

.red{
  background-image: url('../../assets/nav-bg-fill-blue.png');
}

/* container to hold different views */
.standard_container{
    text-align: center;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border: rgb(220,220,220) 1px solid;
    border-radius: 5px;
    box-shadow: 0 8px 40px -12px rgba(0,0,0,0.1);
    
}

/* -------------------------- fonts---------------------- */
.movieTitle{
  font-family: 'TiemposHeadlineWeb', 'sans sarif';
  font-size: 150%;
}