

.moviePoster{
    transition: transform .2s;
    width: 250px;
    /* margin-top: 15px; */
    margin-bottom: 20px;
    /* margin: auto; */
}
.moviePoster:hover{
    cursor: pointer;
    transform: scale(1.08);
}
